/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
/* text */
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 1rem;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
    margin-bottom: 1rem;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin-bottom: 1rem;
}
.description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-top: 1rem;
}
.placeholder {
    font-style: italic;
}
/* utilities */
.hidden {
    visibility: hidden;
}
.none {
    display: none;
}
.FourOhFour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    font-size: x-large;
}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* shift game */
#square-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
    width: 12rem;
    height: 12rem;
    background-color: #E4FDE1;
    list-style: none;
}
.border {
    padding: 0.5rem;
    background-color: #E4FDE1;
    margin: auto;
    width: 13rem;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
    width: 4rem;
    height: 4rem;
    background-color: rgb(127, 255, 212);
}
.square:hover {
    transition: filter 0.3s;
    filter: brightness(120%);
}
.empty-square {
    background-color: #aac7bd
}
.uiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(10,10,10,0.2);
    background-color: blue;
    color: white;
}
.uiButton:hover {
    transition: filter 0.3s;
    filter: brightness(120%);
}
/* shift game help */
#cheatSheet {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: lightgoldenrodyellow;
    width: 280px;
    margin: auto;
    border: 1px solid gold;
    padding: 10px;
    font-style: italic;
    right: 100px;
}
#helpButton {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* name input */
#inputLettersContainer, #inputNumbersContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem;
}
.inputLetters {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d1d1d1;
    width: 2rem;
    height: 2rem;
    border: 1px solid #202020;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.inputLetters:hover	{
    transition: filter 0.3s;
    filter: brightness(120%);
}
#del {
    width: 4rem;
}
/* color ranges */
.colorRangeContainer {
    display: flex;
    flex-flow: column wrap;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#colorChanger{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid #202020;
    border-radius: 10px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #202020;
    border-radius: 3px;
    width: 2.5rem;
    height: 1.5rem;
    color: white;
}
.redVal {
    background-color: red;
}
.greenVal {
    background-color: green;
}
.blueVal {
    background-color: blue;
}
/* enter key */
#enterKeyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;
}
/* button exploder */
#explodeButtonHelp {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: yellow;
}
#buttonExplosionContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
.explodeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: blue;
    color: white;
    border: 1px solid #202020;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
}
.explodeButton:hover {
    transition: filter 0.3s;
    filter: brightness(120%);
}
.buttonExplosion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.explodeButtonDesc {
    font-size: small;
}
/* navbar */
#navbar {
    display: flex;
    justify-content: space-around;
    background-color: #00f39f;
    height: 60px;
    width: 75vw;
    margin: auto;
}
.menu {
    position: relative;
}
.menuItem {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38be72;
    height: 50px;
    width: 100px;
    z-index: 5;
    top: 6px;
}
.menuItem:hover {
    transition: filter 0.3s;
    filter: brightness(120%);
}
.menuItem:hover + .submenu {
    transition: transform 0.3s;
    transform: translate(0px, 50px);
    visibility: visible;
}
.submenu {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: white;
    z-index: 3;
    box-shadow: 5px 5px 20px rgba(10,10,10,0.2);
    visibility: hidden;
    top: 6px;
}
.submenu:hover {
    transition: transform 0.3s;
    transform: translate(0px, 50px);
    visibility: visible;
}
.submenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #00f39f;
    width: 90px;
    height: 50px;
    z-index: 4;
}
.submenuItem:hover {
    transition: filter 0.3s;
    filter: brightness(120%);
}
.submenuItem:hover + .subsubmenu {
    transition: transform 0.3s;
    transform: translate(100px, 0px);
    visibility: visible;
}
.subsubmenu {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: white;
    z-index: 2;
    box-shadow: 5px 5px 20px rgba(10,10,10,0.2);
    top: -60px;
    visibility: hidden;
}
.subsubmenu:hover {
    transition: transform 0.3s;
    transform: translate(100px, 0px);
    visibility: visible;
}
.subsubmenuItem {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #00f39f;
    width: 90px;
    height: 50px;
    z-index: 3;
}
.subsubmenuItem:hover {
    transition: filter 0.3s;
    filter: brightness(120%);
}
#nothing {
    color: blue;
}
#secret {
    color: red;
}
/* points */
#points {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 50px;
    font-size: larger;
    background-color: yellow;
    height: 4rem;
    width: 7rem;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(10,10,10,0.2);
    z-index: 100;
}
.wiggle {
    animation: shake 1s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* enter site popup */
#enterSite {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 200;
}
/* lights */
#lights {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 90%;
    min-height: 90%;
    left: 5%;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    z-index: 150;
    padding: 20px;
}
.colorContainer1, .colorContainer2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.colorSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#exit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid black;
}
#exit:hover {
    background-color: white;
}
#lightsMenuItem {
    background-color: black;
    color: yellow;
}
/* enter website */
#enterKeyContainer {
    margin-top: 30px;
}
#hideEnterKeyContainer {
    position: relative;
}
#swapSectionsSamePlace{
    margin-top: 30px;
}